/*RAILWAY & INTER font installed*/
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*BODY STYLING*/
body {
    margin: 0;
    background-color: #F2FCFA;
    ;
}

* {
    box-sizing: border-box;
}

.green {
    background: linear-gradient(to bottom, #F2FCFA, #F0FFF4);
}

.red {
    background: linear-gradient(to bottom, #F0FFF4, #FFF5F5);
}

/*SHARED ITEMS*/
.button {
    font-weight: bold;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    padding: 13px 38px;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

/*HEADER STYLING*/
header {
    background-image: url("../Assets/Hero-bg.png");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 116px;

}

/*Navbar styling*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.logo {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.banner {
    text-align: center;
    padding: 158px 152px;
    max-width: 1140px;
    margin: auto;

}

.banner-content {
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    margin-bottom: 37px;

}

.nav-button:hover {
    background-color: #0800ff;
}

.banner-button {
    border: none;
    background-color: white;
    color: black;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 10px 1px #0800ff;
}

.banner-button:hover {
    background-color: #0800ff;
    color: white;
}

/*ACTION SECTION STYLING (1)*/
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    max-width: 1140px;
    margin: 0 auto 116px auto;
}

.left-side-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 0;
}

.left-side-description {
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
}

.right-side {
    border-radius: 48px;
}

.action-button {
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 13px 38px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;


}

.action-button:hover {
    background-color: darkgreen;
    color: white;
}

/*PRODUCTIVE USERS SECTION STYLING (2)*/
.users-section {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #4E47FF10;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 137px;
}

.users-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    padding: 50px 40px;
}

.stat-number {
    font-size: 80px;
    font-weight: bold;
    color: #00b344;
    margin: 0;
    padding: 0;

}

.stat-label {
    font-size: 20px;
    font-weight: 400;
    color: #00000050;
    padding: 0 0 50px 0;
    margin: 0;
}

.users-info {
    display: flex;
    gap: 158px;
    justify-content: center;
    align-items: center;
}

/*FEEDBACK SECTION STYLING (3)*/
.feedback-section {
    width: 1140px;
    margin: 0 auto 137px auto;
}

.feedback-section-title {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.users-feedback {
    background-color: white;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
    font-family: "Inter", sans-serif;
}

.users-name,
.comment-date {
    margin: 0px;
    color: #757575;
}

.users-profile {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

/* WEBFLOW CONF SECTION STYLING (Optional Section) (4)*/
.webflow-conference {
    width: 1140px;
    border-radius: 14px;
    margin: 0 auto 92px auto;
    padding: 71px 150px;
    background-color: white;
}

.conf-info {
    text-align: center;
}

.conf-title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.conf-desc {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
}

.conf-button {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 13px 38px;
    cursor: pointer;
    transition: transform 0.2s ease;

}

.conf-button:hover {
    transform: translateY(-5%);
}

.conf-img {
    border-radius: 48px;
}

/*LET'S GET IN TOUCH / FORM SECTION (5) */
.form-section {
    max-width: 1140px;
    margin: 0 auto 14px auto;
    padding: 71px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
}

.form-section-title {
    font-weight: bold;
    font-size: 97px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 500;
    font-size: 18px;
}

input[type="email"],
input[type="text"] {
    border: 1px solid #D6DDED;
    border-radius: 10px;
    width: 497px;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    padding: 32px 20px;
}

textarea {
    border: 1px solid #D6DDED;
    border-radius: 10px;
    width: 497px;
    height: 147px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 20px;
}

.form-button {
    padding: 19px 101px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff9472, #f2709c, #ff6a6a);
    transition: background 0.3s ease;
}

.form-button:hover {
    background: linear-gradient(135deg, #f88c7f, #e94b85, #ff5252);
}


label,
input:not([type="submit"]),
textarea {
    font-family: "Inter", sans-serif;
}

input[type="submit"] {
    font-family: "Raleway", sans-serif;
}

/* FOOTER STYLING*/
footer {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: "Inter", sans-serif;
}

.footer-content {
    width: 531px;
    margin: auto;
    text-align: center;
    padding: 104px 0;
}

.footer-title {
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 8px;
}

.footer-description {
    color: #8987A1;
    margin: 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: black;

}

.footer-nav a:hover {
    text-decoration: underline;
    color: black;
}