.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*Shared Items*/
.button {
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
}

/*HEADER STYLING*/
header {
    background-image: url("../Assets/Hero-bg.png");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 116px;

}

/*Navbar styling*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.logo {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.banner {
    text-align: center;
    padding: 158px 152px;
    max-width: 1140px;
    margin: auto;

}

.banner-content {
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    margin-bottom: 37px;

}

/*Action Section Styling*/
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    max-width: 1140px;
    margin: 0 auto 116px auto;
}

.left-side-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 0;
}

.left-side-description {
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
}

.right-side {
    border-radius: 48px;
}

/*Productive Users Section Styling*/
.users-section {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #4d47ff10;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 137px;
}

.users-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    padding: 50px 40px;
}

.stat-number {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
    padding: 0;

}

.stat-label {
    font-size: 20px;
    font-weight: 400;
    color: #00000050;
    padding: 0 0 50px 0;
    margin: 0;
}

.users-info {
    display: flex;
    gap: 158px;
    justify-content: center;
    align-items: center;
}

/*FEEDBACK SECTION STYLING*/
.feedback-section {
    width: 1140px;
    margin: 0 auto 137px auto;
}

.feedback-section-title {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.users-feedback {
    background-color: white;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}

.users-name,
.comment-date {
    margin: 0px;
    color: #757575;
}

.users-profile {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

/* WEBFLOW CONF SECTION STYLING (Optional Section)*/
.webflow-conference {
    width: 1140px;
    border-radius: 14px;
    margin: auto;
    padding: 71px 150px;
    border: 1px solid;
}

.conf-info {
    text-align: center;
}

.conf-title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.conf-desc {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
}

.conf-button {
    margin-bottom: 20px;
}

.conf-img {
    border-radius: 48px;
}